@model Product

@{
    ViewData["Title"] = Model.Title;
}

<h1>@Model.Title</h1>
<p><strong>@Model.Information</strong></p>
<p>Производитель<strong>@Model.Company</strong></p>
<p>Цена<strong>@Model.Price</strong></p>